<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--CSS ESTILOS BOOTSTRAP-->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="./css/bootstrap.css">
<link rel="stylesheet" href="./css/bootstrap-theme.css">
<link rel="stylesheet" href="./css/bootstrapValidator.css">
<link rel="stylesheet" href="./css/estilosUsuario.css">
<link rel="" href="./css/bootstrap-utilities.css">
<link rel="" href="./css/bootstrap-utilities.min.css">
<link rel="stylesheet" href="./fonts/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Raleway:wght@500&family=Secular+One&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--CSS ESTILOS-->
<link rel="stylesheet" href="./css/cssCarousel.css">


<title>Promociones</title>
</head>
<body class="d-flex flex-column pagUsuario">


		<div class="container mb-4">

			<div class=" cajaTitulo p-2">
				<h1 class="titulo text-uppercase text-center rounded-top">
					Promociones</h1>
			</div>

			<div
				class="d-flex justify-content-center flex-column container content ">
				<div>

						<div class="d-flex justify-content-between  rounded-2 m-3 shadow">
							<div>
								<img class="imagen  rounded-start border-2 shadow"
									alt=""
									src="">
							</div>

							<div class="d-flex flex-column container">


								<div>
									<h1 class="titulo text-uppercase "></h1>
									<div class="d-flex row">
										<span class="fs-6">Esta promocion tendrá vigencia
											hasta: </span> <span class="fs-6">Precio:</span>
									</div>
								</div>
								<div>
									<p class="mt-2 mb-1 fs-5 titulo text-uppercase">Productos</p>
									<ul>
										
									</ul>
								</div>
								<div class="mt-auto mb-3 text-center">

									<input type="hidden" name="IdPromo"
										value="">

									<button class="btnCarrito  btn btnMenu w-50 rounded-pill">Agregar
										Carrito</button>
								</div>
							</div>


						</div>
				</div>
			</div>
		</div>


</body>
<!--ESTILOS JS-->
<script type="text/javascript" src="./js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/bootstrapValidator.js"></script>
<script type="text/javascript" src="./js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="./js/popper.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.bundle.min.js"></script>
<script type="module" src="./js/agregarproducto.js"></script>
</html>