<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Reclamos</title>
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
	rel="stylesheet">
<!-- Bootstrap -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">

<!-- Bootstrap icon -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<!-- Custom CSS  -->
<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body class="d-flex">
<style>
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	font-weight: bold;
	background-color: #B87400;
}

.titulo {
	font-family: 'Chau Philomene One', sans-serif;
	color: #310D05;
	font-size: 40px;
	font-weight: bold;
}
</style>

	<main class="main">

		<div class="box info">
			<div class="header-info">
				<h2 class="mb-3">Reporte Reclamo</h2>

				<form class="form-search" method="POST" action="ReclamosController">
					<select class="form-select" name="cboTipoReclamo"
						id="cboTipoReclamo">
						<option value="all">Todos</option>
						<c:forEach var="tipoReclamo"
							items="">
							<option value=""
								></option>
						</c:forEach>
					</select>
					<input class="form-control" type="text" id="search" name="search" placeholder="DNI" value="" /> 
					<input class="form-control" type="date" id="start-date" name="startDate" placeholder="Fecha de Inicio" min="2000-01-01" max="2030-12-31" value=""/>
		  			<input class="form-control" type="date" id="end-date" name="endDate" placeholder="Fecha de Fin" min="2000-01-01" max="2030-12-31" value=""/>
		  
					<input
						class="form-control bg-primary text-white" type="submit"
						value="Aplicar Búsqueda" />
				</form>
			</div>

			<hr class="separator">

			<div class="body-info">
				<c:choose>
					<c:when test="">
						<div class="d-row">
							<div class="data">
								<span>No hay datos para mostrar</span>
							</div>
						</div>
					</c:when>

					<c:otherwise>
						<c:forEach items="" var="reclamo">
							<div class="d-row">
								<div class="data">
									<input type="hidden" name="id" value="">

									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>

								<div class="operations">
									<i class="icon-info bi bi-info-circle-fill"></i>
								</div>
							</div>
						</c:forEach>
					</c:otherwise>
				</c:choose>
			</div>

			<div class="navigation-info">
				<span>Navegando de  al </span>

				<c:if test="">
					<div>
						<ul class="pagination">
							<c:if test="">
								<a class="link-active" href="ReclamosController?p=${ pag - 1 }">Anterior</a>
							</c:if>

							<c:forEach var="i" begin="" end="">
								<a
									href='ReclamosController?p=" += i += "'" }></a>
							</c:forEach>

							<c:if test="">
								<a class="link-active" href="ReclamosController?p=${ pag + 1 }">Siguiente</a>
							</c:if>
						</ul>
					</div>
				</c:if>

				<span>Se encontraron  resultados</span>
			</div>
		</div>
	</main>

</body>

<!-- Custom JavaScript -->
<script type="module" src="./js/reporteReclamo.js"></script>
<!--ESTILOS JS-->
<script type="text/javascript" src="./js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/bootstrapValidator.js"></script>
<script type="text/javascript" src="./js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="./js/popper.min.js"></script>


</html>